In [17]:
import numpy as np
import pandas as pd

In [2]:
listlist = [4, 'hi', [5, 4, 3], 'yo', {'Squirrel': 'Cute', 'Dog': 'Loyal', 'Penguin': 'Yummy'}]

In [7]:
penguin = listlist[4]['Penguin']
penguin2 = listlist[4].get('Penguin')

print(penguin2)

Yummy

In [8]:
a = list(range(11))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
a[3:23]

[3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
text = "asdzedlavolecram345w"
name = text[15:2:-1] 
name2 = text[-5:-18:-1]
name3 = text[::-1][5:18]
print(name2)

marcelovaldez

In [21]:
n = np.arange(11)
sqr = np.square(n)
logn = np.log(n)
logn

df = pd.DataFrame({'n': n, 'sqr': sqr, 'logn': logn})
df

C:\Users\valdez\AppData\Local\Temp\ipykernel_11472\1196972883.py:5: RuntimeWarning: divide by zero encountered in log
  logn = np.log(n)

     n  sqr      logn
0    0    0      -inf
1    1    1  0.000000
2    2    4  0.693147
3    3    9  1.098612
4    4   16  1.386294
5    5   25  1.609438
6    6   36  1.791759
7    7   49  1.945910
8    8   64  2.079442
9    9   81  2.197225
10  10  100  2.302585